*,*::after,*::before {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}


.app {
    background-color: purple;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid aqua;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    color: aqua;
}
 button.btn {
    background:black;
    color: aqua;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
     transition: all 0.3s;
}


/* hover effect condition css : it will hover only for element does not disabled */
.btn:hover:not([disabled]) {
    background: aqua;
    color: purple;
}

/* if button disabled cursor change into no-drop effect */
.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background:black;
    color: aqua;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}


.correct {
    background-color: lawngreen !important;
}

.incorrect {
    background-color: red !important;
}

nav{    
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

nav img{
    padding: 8px 8px;
    height: 100px;
}

nav ul{margin-right: 10px;}

nav li{
    float: left;
}

nav li a{
    display: flex;
    align-items: center;
    color: aqua;
    height: 60px;
    padding: 0px 15px 0px 15px; 
    font-weight: 500;
    font-size: 15px;
}

nav li a:hover{
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.categorias{
    display: flex;
    overflow-x: scroll;
    margin-top: 100px;
    z-index: -999;
    width: 100%;
    justify-content: space-around;
}

.head-color{
    color: aqua;
    font-style: italic;
}

.categorias li a{
    display: flex;
    height: 50px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    align-items: center; 
    white-space: nowrap; 
    color: aqua;
    font-weight: 500; 
    border: 3px solid whitesmoke;
    border-radius: 10px;
}

.categorias li a:hover{
    color: aqua;
    background-color: purple;
    border-color: aqua;
}

.categorias li a:active{
    transition: all .5s;
}

::-webkit-scrollbar{
    display: none;
}

.button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .button:hover::after {
    filter: blur(30px);
  }
  
  .button:hover::before {
    transform: rotate(-180deg);
  }
  
  .button:active::before {
    scale: 0.7;
  }
  
  
