*,*::after,*::before {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}


.app {
    background-color: purple;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid aqua;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    color: aqua;
}
 button.btn {
    background:black;
    color: aqua;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
     transition: all 0.3s;
}


/* hover effect condition css : it will hover only for element does not disabled */
.btn:hover:not([disabled]) {
    background: aqua;
    color: purple;
}

/* if button disabled cursor change into no-drop effect */
.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background:black;
    color: aqua;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}


.correct {
    background-color: lawngreen !important;
}

.incorrect {
    background-color: red !important;
}

nav{    
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

nav img{
    padding: 8px 8px;
    height: 100px;
}

nav ul{margin-right: 10px;}

nav li{
    float: left;
}

nav li a{
    display: flex;
    align-items: center;
    color: aqua;
    height: 60px;
    padding: 0px 15px 0px 15px; 
    font-weight: 500;
    font-size: 15px;
}

nav li a:hover{
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.categorias{
    display: flex;
    overflow-x: scroll;
    margin-top: 100px;
    z-index: -999;
    width: 100%;
    justify-content: space-around;
}

.head-color{
    color: aqua;
    font-style: italic;
}

.categorias li a{
    display: flex;
    height: 50px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    align-items: center; 
    white-space: nowrap; 
    color: aqua;
    font-weight: 500; 
    border: 3px solid whitesmoke;
    border-radius: 10px;
}

.categorias li a:hover{
    color: aqua;
    background-color: purple;
    border-color: aqua;
}

.categorias li a:active{
    transition: all .5s;
}

::-webkit-scrollbar{
    display: none;
}
